@media (max-width:900px){
    .search-field {
        opacity: 0;
        pointer-events: none;
        top: 110px;
        background: none;
        transition: 0.3s ease;
        margin: 0 auto;
    }
    .search-field.active{
        opacity: 1;
        pointer-events: all;
        top: 150px;
    }
    .responsive-search-field{
        display: block;
        position: absolute;
        right: 160px;
        top: 30px;;
    }
    .responsive-search-field i{
        font-size: var(--medium-font-size);
        cursor: pointer;
    }
    .responsive-search-field i:hover{
        color: var(--theme-color);
    }
}