/* =========================== Custom Fonts =========================== */
@font-face {
    font-family: theme font;
    src: url(../font/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: tmedium;
    src: url(../font/JosefinSans-Medium.ttf);
    
}
@font-face {
    font-family: tbold;
    src: url(../font/JosefinSans-Bold.ttf);    
}
/*=========================== Base ===========================*/
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Custom Color */
    --body-color:#fff;
    --theme-color:#118C5C;
    --icon-color:#595959;
    --border-color:#383F43;
    --text-color:#000;
    --search-icon-color:#fff;
    --nav-menu-color:#fff;
    --light-white-color:#ffff;
    --section-bg-color:#F5F5F5;
    /* Typography */
    --theme-font:theme font;
    --normal-font-size:16px;
    --medium-font-size:22px;
    --small-font-size:10px;
    --theme-medium-bold-font:tmedium;
    --theme-bold-font:tbold;
}
body{
    font-family: var(--theme-font);
    font-size: var(--normal-font-size);
    color:var (--text-color);

}
ul li{list-style-type: none;}
a{text-decoration: none;}
.container{
    max-width: 1280px;
    padding: 0 3%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.col-1-of-2{
    width: 49.99%;
    margin: 0 auto;
}
.col-1-of-4{
    width: 24.9%;
    margin: 0 auto;
}
.theme-btn{
    padding: 10px 20px;
    border: 1px solid var(--light-white-color);
    border-radius: 3px;
    color: var(--light-white-color);
}
/*=========================== Header Section ===========================*/
.header-section{
    padding: 15px 0;
}
.header-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Header Logo */
.header-group .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    font-family: var(--theme-bold-font);
}
.header-group .logo i{
    color: var(--theme-color);
    padding-right: 5px;
    font-size: 50px;
}
.logo label span{
    color: var(--theme-color);
}
/* Search Field*/
.search-field{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 40px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid var(--theme-color);
    position: relative;
}
.search-field input {
	width: 100%;
	height: 100%;
	outline: 0;
	border: none;
	padding: 2px 35px 2px 15px;
	border-end-start-radius: 5px;
	border-start-start-radius: 5px;
}
.search-field .search{
    cursor: pointer;
    background: var(--theme-color);
    color: var(--search-icon-color);
    position: absolute;
    right: 0;  
    padding: 12px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease;
}
.search-field i.search:hover{
    background: #000;
}
/* Icon Group */
.icon-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-group i{
    font-size: var(--medium-font-size);
    padding: 0 10px;
    cursor: pointer;
}
.icon-group i:hover{
    color: var(--theme-color);
    transition: 0.3s;
}
.responsive-search-field{
    display: none;
}
/*=========================== Navbar ===========================*/
.navbar{
    background: var(--theme-color);
    padding: 15px;
}
.navbar.scrolled{
    background: #000;;
}
.navbar .nav-menu ul{
    display: flex;
    justify-content: center;
}
.navbar .nav-menu .nav-item{
    padding: 0 20px;
    position: relative;
}
.nav-menu .nav-item .nav-link{
    color: var(--nav-menu-color);
    font-family: var(--theme-medium);
    position: relative;
}
/* Drop Down */
.nav-item .nav-link i{
    display: inline-block;
    position: absolute;
    top: 0;
    padding-left: 2px;
}
/* Dropdown Menu 1 */
.dorpdown-menu{
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 1550px;
    width: 275px;
    height: 229px;
    background: #000;
    flex-direction: column;
    transition: 0.4s;
    z-index: 1001;
}
.dorpdown-menu::before{
    content: "";
    width: 15px;
    height: 15px;
    background: var(--text-color);
    position: absolute;
    top: -7px;
    left: 43px;
    transform: rotate(45deg);
    z-index: -1;
}
.dorpdown-item{
    padding: 10px 20px;
}
.nav-item .down:hover{
    transform: rotate(180deg);
    transition: 0.3s ease;
}
.dorpdown-item a{
    color: var(--nav-menu-color);
    cursor: pointer;
}
.dorpdown-item:hover{
    background: var(--theme-color);
}
/* Dorpdown Toggle */
.nav-item.active .dorpdown-menu{
    visibility: visible;
    top: 50px;
}
/* Drop Down menu 2 */
.dorpdown-menu2 {
        visibility: hidden;
        position: absolute;
        left: 0px;
        top: 1550px;
        width: 208px;
        height: 172px;
        background: #000;
        flex-direction: column;
        transition: 0.4s;
        z-index: 1001;
    }
.dorpdown-menu2::before{
    content: "";
    width: 15px;
    height: 15px;
    background: var(--text-color);
    position: absolute;
    top: -7px;
    left: 43px;
    transform: rotate(45deg);
    z-index: -1;
}
.nav-item.active .dorpdown-menu2{
    visibility: visible;
    top: 50px;
}
/*=========================== Hero Section ===========================*/
.hero-section{
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../image/project3.jpg) no-repeat center /cover;
    max-width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}
.hero-section .hero-content {
	display: block;
    text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
    color: var(--light-white-color);
}
.hero-content h3{
    font-size: 50px;
    font-weight: 800;
}
.hero-content p{
    margin: 15px 0 45px 0;
    font-size: 25px;
}
.hero-content .hero-btn{
    padding: 10px 50px;
}
.hero-content .hero-btn a{
    color: var(--light-white-color);
}
.hero-content .hero-btn:hover{
    background: var(--theme-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
    transition: 0.3s ease;
}

/*=========================== Service Section ===========================*/
.service-section{
    /* text-align: center; */
    padding: 100px 0;
}
/* Section Header */
.section-header{
    display: flex;
    justify-content:left;
    align-items: center;
    
}
.section-header .section-logo{
    font-size: 50px;
    color: var(--icon-color);
    padding-right: 15px;
    border-right: 2px solid var(--icon-color);
}
.section-header .section-header-content{
    margin-left: 15px;
}
.section-header .section-header-content .section-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px; 
}

.section-header .section-header-content .section-subtitle{
    color: var(--icon-color);
}
/* Section Content */
.service-section .section-content{
    margin-top: 40px;
}
.service-section .section-content .items{
    text-align: center;
    padding: 60px 20px;
}
.section-content .items .item-logo{
    /* background: var(--theme-color); */
    text-align: center;
    position: relative;
}
.section-content .items .item-logo::before {
	content: '';
	width: 81px;
	height: 81px;
	background: var(--theme-color);
	position: absolute;
	transform: rotate(134deg);
	left: 88px;
	top: -11px;
	z-index: -1;
}
.section-content .items .item-logo i{
    font-size: 30px;
    color: var(--light-white-color);
    background: var(--theme-color);
    padding: 13px;
    border-top: 1px solid var(--light-white-color);
    border-bottom: 1px solid var(--light-white-color);
}
.service-section .section-content .items .item-title{
    font-size: 15px;
    text-transform: uppercase;
    margin: 75px 0 10px 0;
}
.service-section .section-content .items .item-subtitle{
    font-size: 14px;
    line-height: 20px;
    color: var(--icon-color);
}
/*=========================== Portfolio Section ===========================*/

.portfolio-top{
    padding: 46px 0;
    background: var(--section-bg-color);
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 0px; */
}
.portfolio-items{
    position: relative;
    align-items: center;
}
.portfolio-items ul{
    position: absolute;
    top: -10px;
    right: 0;;
}
.portfolio-items ul li{
    display: inline-block;

}
.portfolio-items ul li a {
    padding: 7px 14px;
    margin-right: 5px;
    border:1px solid var(--icon-color);
    font-family: sans-serif;
    color: var(--icon-color);
    border-radius: 2px;
    transition: 0.3s;
    font-size: 15px;
}
.portfolio-items ul li a:hover{
    background: var(--theme-color);
    color: var(--light-white-color);
    /* transition: 0.50s; */
}
.portfolio-items .active{
    background: var(--theme-color);
    color: var(--light-white-color);
    border: none;
    z-index: 1001;
}

.portfolio-items .active::before{
    content: '';
    width: 8px;
    height: 8px;
    background: var(--theme-color);
    position: absolute;
    bottom: -8px;
    left: 19px;
    transform: rotate(135deg);
    z-index: 1000;
}

/* portfolio-bottom */
.portfolio-bottom{
    margin-top: 10px;
    margin: auto;
}
.image-filter-section .image{
    line-height: 12px;

}
/* .image-filter-section .image::before{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--text-color);
    position: absolute;
    opacity: 0.3;
} */



.image-filter-section .image img{
    width: 100%;
    height: 100%;
}